@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
body {
  font-family: "Roboto", sans-serif;
}

input[type="checkbox"] {
  cursor: pointer;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* .primary-btn-s {
    @apply bg-primary px-2 py-1 rounded-xs text-grey-50 text-xs font-semibold hover:bg-primary-600 active:bg-primary-700 disabled:bg-primary-200 shadow-xs outline-none
  }
  .primary-btn-m {
    @apply bg-primary px-3 py-2 rounded-xs text-grey-50  text-xs font-semibold hover:bg-primary-600 active:bg-primary-700 disabled:bg-primary-200 shadow-sm  outline-none
  }
  .primary-btn-l {
    @apply bg-primary px-4 py-2 rounded-xs text-grey-50 text-sm font-semibold hover:bg-primary-600 active:bg-primary-700 disabled:bg-primary-200 shadow-sm outline-none
  }
  .primary-btn-xl {
    @apply bg-primary px-4 py-3 rounded-xs text-grey-50 font-semibold hover:bg-primary-600 active:bg-primary-700 disabled:bg-primary-200 shadow-sm outline-none
  } */
   
  .h-3xl {
    @apply text-h-3xl leading-[120%];
  }
  .h-2xl {
    @apply text-2xl leading-[120%];
  }
  .h-xl {
    @apply text-h-xl leading-[120%];
  }
  .h1 {
    @apply text-h1 leading-[120%];
  }
  .h2 {
    @apply text-h2 leading-[120%];
  }
  .h3 {
    @apply text-h3 leading-[120%];
  }
  .h4 {
    @apply text-h4 leading-[120%];
  }
  .h5 {
    @apply text-h5 leading-[120%];
  }
  .h6 {
    @apply text-h6 leading-[120%];
  }
  .xs-2 {
    @apply text-2xs leading-[120%];
  }
  .xs-3 {
    @apply text-3xs leading-[120%];
  }
  .custom-scrollbar {
    @apply [&::-webkit-scrollbar]:w-2
    [&::-webkit-scrollbar]:h-2
    [&::-webkit-scrollbar-track]:rounded
    [&::-webkit-scrollbar-track]:bg-grey-200
    [&::-webkit-scrollbar-thumb]:rounded 
    [&::-webkit-scrollbar-thumb]:bg-primary-400 ;
  }
 
}

/* @layer utilities {
  .primary-gradient-1 {
    background-image: linear-gradient(109deg, #EAECF9, #C4C8E4);
  }
  .primary-gradient-2 {
    background-image: linear-gradient(109deg, #D7DAEE, #9EA4CF);
  }
  .primary-gradient-3 {
    background-image: linear-gradient(109deg, #525DA4, #2C398F);
  }
  .primary-gradient-4 {
    background-image: linear-gradient(109deg, #2C398F, #232E72);
  }
  .primary-gradient-5 {
    background-image: linear-gradient(109deg, #525DA4, #232E72);
  }
  .primary-gradient-6 {
    background-image: linear-gradient(109deg, #2C398F, #121739);
  }
} */
